# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
*.yaml

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/.vscode
/vendor

/loadfiles

# программа в Linux
bill18go
!cmd/bill18go

go.sum