{{define "content"}}
<div class="container">
        <div class="row">
                <div class="col-xs-12">
                        <a href="http://{{.Listen}}/api/streets" target="_blank">Улицы</a><br />
                        <a href="http://{{.Listen}}/api/builds/Авангардная ул." target="_blank">Дома с
                                параметром
                                улицы</a><br />
                        <a href="http://{{.Listen}}/api/flats/Авангардная ул./3"
                                target="_blank">Квартиры</a><br />
                        <a href="http://{{.Listen}}/api/lics/Авангардная ул./3/1"
                                target="_blank">Лицевые по
                                адресу</a><br />
                        <a href="http://{{.Listen}}/api/infoLic/45321" target="_blank">Информация по
                                лицевому</a><br />
                        <a href="http://{{.Listen}}/api/infoLic/345338" target="_blank">Информация по
                                лицевому(пусто)</a><br />
                        <a href="http://{{.Listen}}/api/infoDataCounter/45321" target="_blank">Список ПУ</a><br />
                        <a href="http://{{.Listen}}/api/infoDataCounterValue/45321" target="_blank">Список показаний
                                ПУ</a><br />
                        <a href="http://{{.Listen}}/api/infoDataValue/45321" target="_blank">Список
                                начислений</a><br />
                        <a href="http://{{.Listen}}/api/infoDataPaym/45321" target="_blank">Список
                                платежей</a><br />
                        <a href="http://{{.Listen}}/api/puAddValue/139479/150" target="_blank">Добавляем показание</a><br />     
                        <a href="http://{{.Listen}}/api/puDelValue/139479/69" target="_blank">Удаление показания</a><br />
                        <a href="http://{{.Listen}}/api/infoDataCounterValueTip/60" target="_blank">Список показаний
                                по типу фонда</a><br />                      
                </div>
        </div>
</div>
<!--class="container"-->
{{ end }}